<h1> New Recipe </h1>
<%= form_for @recipe do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <h3>Ingredients </h3>
  <%= fields_for :ingredients do |ing| %>
    <h4>Ingredient 1</h4>
    <%= ing.label :name %>
    <%= ing.text_field :name, id: 'recipe_ingredients_attributes_0_name' %>
    <br/><br/>
    <%= ing.label :quantity %>
    <%= ing.text_field :quantity, id: 'recipe_ingredients_attributes_0_quantity'%>
    <br/><br/>
  <% end %>
  <br/>
  <br/>
  <%= f.submit "Create Recipe"%>
<% end %>
